*{box-sizing: border-box;
overflow-x: hidden;
padding:0px;}
div{
    display: block;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 20px;

}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li:hover{
    background-color: rgb(250, 101, 250);

}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: purple;
    font-weight: bold;
}
.names{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;

}
.names .fname{color: purple;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
margin-right: 2px;
text-transform: uppercase;}
.names .lname{
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
#home { 
    background-color: black;
    color: #ffff;
    font-size: 20px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;


}
#home h2{
    color: purple;
    font-weight: bold;
    
    
}
#home .little-about-me{
    margin-left: 40px;
}
#home .hey{
    color: purple;
    font-size: 30px;
    font-weight: bold;
    
   
}
#home button{
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 40px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-transform: capitalize;
    color: white;
    background-color:purple;
   
   
}
 button:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: hover 0.15s;
    /*transform: translateY(5px);*/
   
}
#about{
    background-color: black;
  
    color: white;
     padding-top: 5px;
    display: flex;
   justify-content: center;
    align-items: center;
}
.about-container{
    background-color: black;
    padding: 40px 200px 40px 200px;
}
#services{
    background-color: black;
    color: white;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  
}
.services-container {
    position: relative;
   display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;  
}
#title{
    position: relative;
    background-color: black;
    font-style: italic;
    text-decoration: underline;
    color: rgb(247, 205, 247);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
    font-size: 30px;
    text-transform: capitalize;

}
    /*display: inline block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;*/


    

.my-services{
    
    background-color: rgb(12, 11, 11);
    padding: 20px 100px 20px 40px;
    font-style: italic
    
    
}
.my-services p h1{
    color: black;
    
}
.prefo{
    justify-content: center;
    text-shadow: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(247, 205, 247);

}
#resume{
    background-color: black;
    color: white;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.resume-container {
    background-color: rgb(12, 11, 11);
    padding: 60px 220px 60px 220px;  
}

table caption{
    font-size: 25px;
    font-style: italic;
    color:white;
    font-weight: bold;
    color:rgb(250, 101, 250);
}
table tr th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    font-style: italic;
    margin-left: 2px;
   
}
table tr td{
    font-size: 18px;
    font-style: italic;
    color: rgb(247, 205, 247);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    padding: 10px 0px 10px 50px;
    
    
    
}
 .button2 button{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 40px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-transform: lowercase;
    color: white;
    background-color:purple;
    margin: 50px 0px 0px 50px;
   
     }

     .skills{
        
        color: rgb(250, 101, 250);
        margin: 10px 0px 0px 0px;
        padding: 10px;
        box-shadow: ;
        
     }
    

    .bar{
        width: 300px;
        background-color:purple ;
        display: block;
        height: 10px;
        border: 1px solid purple;
        overflow: hidden;
        box-shadow: 1px 3px rgba(0,0,00.12),0 1px 2px rgba(0,0,0,0.24);
        border-radius:20px;
       
     }
    .bar:hover{
        box-shadow: ;
    }
    .bar span{
        height: 10px;
        float:left ;
        background-color: rgb(250, 101, 250);
    }
    .skills-container li, .skills-container h4{
        list-style: none;
        font-size: 20px;
    }
    .c{
        width: 55%;
        animation: c 3s;
        
    }
    .C{
        width: 55%;
        animation: C 3s;
    }
    .css{
        width: 70%;
        animation: css 3s;
    }
    .timing{
        width: 75%;
        animation: timing 3s;
    }
    .team-work{
        width: 80%;
        animation: team-work 3s;
    }

    @keyframes c{
        0%{
            width: 0%;
        }
        100%{
            width: 55%;
        }
    }
    @keyframes team-work{
        0%{
            width: 0%;
        }
        100%{
            width: 80%;
        }
    }
    @keyframes C{
        0%{
            width: 0%;
        }
        100%{
            width: 60%;
        }
    }
    @keyframes css{
        0%{
            width: 0%;
        }
        100%{
            width: 70%;
        }
    }
    @keyframes timing{
        0%{
            width: 0%;
        }
        100%{
            width: 75% ;
        }
    }
    #myskills{
        display: grid;
        grid-template-columns: 600px 1fr;
        background-color: black;
    }
    #myskills img{
        float: left;
        width: 400px;
        height: 100vh;
        margin: 40px 0px 0px 150px;
        border: 1px solid purple;
        border-radius: 80px;
       
    }
    .circle{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #contact,#comment{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contact h1,#comment h1{
        color: #ffff;
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;
       
    }
    #gettin{
        background-color: black;
        color: #ffff;
        font-weight: bold;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        
        
        
    }
    #get{
        padding-left: 20px;
    }
    #get .detail p{
        font-size: 30px;
        color: rgb(250, 101, 250);
        
       }
    #get .hh h1{
        color: rgb(243, 17, 243);
        padding-right: 20px;
    }
    
    .form{
        background-color: black;
        color: white;
        padding: 20px 0px 40px;
        font-size: 18px;
    }
    .form fieldset legend{
        color: purple;
        
        }
    fieldset label{
        color: purple;

    }
    
    fieldset input#email, input#fname,input#lname,input#submit,input#message{
        height: 30pxpx;
        display: block;
    }
     fieldset input#message{
        height: 30px;
    }
    .icon{
        height: 5vh;
        display: flex;
        justify-content: left;
        align-items: center;
        color: purple;
    }
    footer{
        position: relative;
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: purple;

    }
    .back{
        position: absolute;
        left: 500px;
        
      
        z-index: 200;
    }
    .back button{
        padding: 10px 20px 0px 20px;
        color: purple;
        background: linear-gradient( black, purple);
        border: none;
        

    }
    .image1 img{
    width: 500px;
    height: 600px;
   
    }
   .image1{
    /* clip-path:circle(700px at 50% -180px); */
    clip-path: circle(50%);
   }


   @media (max-width:500px) {

    .navbar ul{
       display: block; 
       flex-direction: column;
    }
    #header {
        display: block;
        flex-direction: column;
    }
   .back{
    left: 50px;
   }
.resume-container {
    display: block;
    padding: 0;
   
   }
   table tr td{
    padding: 0;
   }
   
   #about{
    display: block;
   }
   .about-container{
    padding: 0px;
    font-size: 9px;
    
    
   }
   #myskills{
    display: block;
   }
   .image2{
    margin-left:-100px;
   }
   #gettin{
    display: block;
   }
   fieldset input#email, input#fname,input#lname,input#submit,input#message{
    display: block;
    height: 20px;
   }
.services-container{
    display: block;
}
   
   }
  